body{
    background-color: #ecf0f1;
    text-align: center;
}

.btn{
    cursor: pointer;
}

h1{
    color:#34495e;
    transition: color .5s ease-in-out;
    font-size: 10em;
}

.clicked{
    color: #7f8c8d;
}

.form, .greetings{
    display: none;
}

.showing{
    display: block;
}